<div class="modal-header">
    <div class="row">
        <div class="col-xs-12">
            <div class="modal-title">
                Rankmi Team
            </div>
        </div>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="text-center">
                <img src="https://images-na.ssl-images-amazon.com/images/I/61UMNLXfKiL._SX355_.jpg" alt="yoda" class="img-responsive">
            </div>
        </div>
    </div>
</div>