{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "ie >= 9"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "dynamic-import-webpack",
    [
      "angularjs-annotate",
      {
        "explicitOnly": true
      }
    ]
  ]
}